body {
    background-color: #212529
}

div.card {
    background-color: #212529;
    border-color: white;
}

no-decoration {
    text-decoration: none
}

h1 {
    color: white
}

h2 {
    color: white
}

h3 {
    color: white
}

h4 {
    color: white
}

h4.red {
    color: indianred
}

h4.green {
    color: greenyellow
}

h4.blue {
    color: cornflowerblue
}

h4.left {
    text-align: left
}

h4.center {
    text-align: center
}

h4.right {
    text-align: right
}


.orange {
    color: darkorange
}

.right-justified {
    text-align: right
}

h5 {
    color: white
}

h6 {
    color: white
}


p {
    color: white
}

figcaption {
    color: white
}

hr {
    color: white;
}

pre {
    color: white;
}

ul {
    color: white;
}

dl {
    color: white;
}

a.white:link {
    color: white;
}

a.white:visited {
    color: white;
}

a.white:active {
    color: white;
}

a.white:hover {
    color: white;
}

a:link {
    color: #f95738;
}

a:visited {
    color: #f95738;
}

a:active {
    color: #f95738;
}

a:hover {
    color: #adb5bd;
}

img.fun {
    content: url("../images/present.png");
}

img.fun:hover {
    content: url("../images/cat.png");
}

.list-group-mine .list-group-item {
    background-color: #212529;
    color: #ffffff;
    border-top: 1px solid #0091b5;
    border-left-color: #fff;
    border-right-color: #fff;
}

.list-group-mine .list-group-item:hover {
    background-color: aqua;
}
